css body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* 由于您的 HTML 中没有使用 .select-wrapper 类，我会直接样式化 select 和 input */
select,
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* 您的 HTML 中使用的是 input 类型为 "submit"，因此我们这里对 button 的样式要更改为 input[type="submit"] */
input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  width: 100%;
}

/* 您的 HTML 中没有明确的 p 标签用作消息展示，但我假设您希望 #response 元素在有消息时显示 */
p,
#response {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}

/* 您的 HTML 中的 id 是 "loadingMessage" 而不是 "loading" */
#loadingMessage {
  display: none;
  text-align: center;
  font-style: italic;
  color: #666;
}

/* 显示 audio 控件 */
#audioPlayer {
  margin-top: 10px;
  /* 添加一些间距在控件上面 */
  width: 100%;
  /* 使 audio 控件的宽度和输入框相匹配 */
}